<h1>My tasks</h1>
<% @tasks.each do |task| %>
    <form>
      <input type="checkbox" class="checkbox" <%= 'checked' if task.completed %> onclick="return false">
      <label> <%= link_to task.title, task_path(task.id) %></label>
        <%= link_to(task_path(task), options = {method: :delete, data: { confirm: "Are you sure?" } }) do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
    </form>
<% end %>

<div class="link">
  <%= link_to 'add a task >', new_task_path %>
</div>
